{% extends "layout.html" %}
{% block title %}Categories{% endblock %}
{% block page %}Categories{% endblock %}



{% block content %}
    <div class="category-grid">
        {% for category in categories %}
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{{ category.category_thumbnail }}" alt="{{ category.category_name }}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{ category.category_name }}</span>
                    <a class="card button" href="/recipes/{{ category.category_name }}">
                        Show Recipes
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}