{% extends "layout.html" %}
{% block title %}Categories{% endblock %}
{% block page %}Categories{% endblock %}

{{ super() }}

{% block head %}Lets see...Categories{% endblock %}

{% block content %}
    <div class="category-content" id="content">
        {% for category in categories %}
            <div class="card">
                <img src="{{category.category_thumbnail}}" alt="{{category.category_name}}" style="width: 10%; height: 10%; margin: 0 auto;">
                <h1>{{category.category_name}}</h1>
                <a href="/recipes/{{category.category_name}}"><p><button>Show {{category.category_name}} Recipes</button></p></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}