{% extends "layout.html" %}
{% block title %}Quick Bytes - Home{% endblock %}

{% block content %}
    <!-- Welcome Card -->
    <div class="welcome-card card">
        <div class="card-content">
            <h2>Welcome to QUICKBYTE!</h2>
            {% if is_authenticated %}
                <h3>Welcome, {{ current_user.username }}!</h3>
                <a href="{{ url_for('auth_views.logout_action') }}" ><button>Logout</button></a>
            {% else %}
                <p>You are not logged in.</p>
                <a href="{{ url_for('auth_views.login_page') }}" ><button>Login</button></a>
            {% endif %}
        </div>
    </div>

    <!-- Navigation Cards -->
    <div class="navigation-grid">
        <div class="card">
            <div class="card-content">
                <h2>Categories</h2>
                <p>Explore recipes by category.</p>
                <a href="/categories" ><button>Go to Categories</button></a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h2>Your Recipes</h2>
                <p>View and manage your saved recipes.</p>
                <a href="/user/{{ current_user.id }}/recipes"><button>Go to Recipes</button></a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h2>Your Ingredients</h2>
                <p>Manage your ingredient collection.</p>
                <a href="/user/{{ current_user.id }}/ingredients" ><button>Go to Ingredients</button></a>
            </div>
        </div>
    </div>
{% endblock %}