{% extends "layout.html" %}
{% block title %}Quickbyte - Home{% endblock %}
{% block page %}Quickbyte - Home{% endblock %}

{% block content %}
    <!-- Welcome Card -->
    <div class="welcome-card card">
        <div class="card-content">
            <h2>Welcome to Quick Bytes!</h2>
        </div>
        {% if is_authenticated %}
            <h3>Welcome, {{ current_user.username }}!</h3>
            <a href="{{ url_for('auth_views.logout_action') }}" class="remove-btn">Logout</a>
        {% else %}
            <p>You are not logged in.</p>
            <a href="{{ url_for('auth_views.login_page') }}" class="remove-btn">Login</a>
        {% endif %}
    </div>

    <!-- Navigation Cards -->
    <div class="navigation-grid">
        <div class="card">
            <div class="card-content">
                <h3>Categories</h3>
                <p>Explore recipes by category.</p>
                
            </div>
            <a href="/categories" class="remove-btn">Go to Categories</a>
        </div>
        <div class="card">
            <div class="card-content">
                <h3>Your Recipes</h3>
                <p>View and manage your saved recipes.</p>
            </div>
            <a href="/user/{{ current_user.id }}/recipes" class="remove-btn">Go to Recipes</a>
        </div>
        <div class="card">
            <div class="card-content">
                <h3>Your Ingredients</h3>
                <p>Manage your ingredient collection.</p>
            </div>
            <a href="/user/{{ current_user.id }}/ingredients" class="remove-btn">Go to Ingredients</a>
        </div>
    </div>
{% endblock %}