{% extends "layout.html" %}
{% block title %}{{category_name}} Recipes{% endblock %}

{{ super() }}


{% block head %}
    {% if category_name %}
        Lets see... {{category_name}} Recipes
    {% else %}
        Lets see... All Recipes
    {% endif %}
{% endblock %}


{% block content %}
    <div class="category-content" id="content">
    {% if recipe_list %}
        <ul>
        {% for recipe in recipe_list %}
            <li>
                <h3>{{ recipe.recipe_name }}</h3>
                <img src="{{ recipe.recipe_thumbnail }}" alt="{{ recipe.recipe_name }}" style="width: 200px;">
                <a href="/recipe/{{recipe.recipe_id}}"><p><button>Show Recipe</button></p></a>
            </li>
        {% endfor %}
        </ul>     
    {% endif %}        
    
        {% if search_recipe %}
                    <h3>{{ search_recipe.recipe_name }}</h3>
                    <img src="{{ search_recipe.recipe_thumbnail }}" alt="{{ search_recipe.recipe_name }}" style="width: 200px;">
                    <p>{{ search_recipe.recipe_instructions }}</p>

        {% endif %}        
    </div>
{% endblock %}