{% extends "main-template.html" %}
{% block title %}Categories{% endblock %}

{{ super() }}

{% block link %}
    <a href="/login-page">Login</a>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="form-box-signup">
        <h2>Registration</h2>
        <form method="POST" action="/users">
            <div class="input-box">
            <span class="icon"><ion-icon name="person"></ion-icon></span>
            <input name="username" type="text" class="validate" required placeholder="Username">
            </div>
            <div class="input-box">
            <span class="icon"><ion-icon name="mail"></ion-icon></span>
            <input type="email" name="email" class="validate" required placeholder="Email" id="txtEmail">
            </div>
            <div class="input-box">
            <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
            <input type="Password" name="password" class="validate" required placeholder="Password" id="txtPassword">
            </div>
            <div class="remember-forgot">
            <label><input type="checkbox"> I agree to the Terms & Conditions</label>
            </div>
            <button type="submit" class="btn" id="signupBtn">Register</button>
            <div class="login-register">
            <p>Already have an account? <a href="/login-page">Login</a></p>
            </div>
        </form>
        </div>
    </div>
{% endblock %}